@use "../../styles/variables" as *;

.housing {
  width: 100%;
  max-width: 1240px;
  padding: clamp(1rem, 3vw, 50px);
  padding-top: 0;
  padding-bottom: 3rem;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    margin: 0;
    color: $primary-color;
    font-weight: $default-weight;
    font-size: clamp($mobile-large-font-size, 5vw, $large-font-size);
  }

  &__title-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__location {
    margin: 0;
    font-size: clamp($mobile-default-font-size, 4vw, $small-font-size);
    font-weight: 500;
  }

  &__tags {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  &__host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__dropdowns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: $mobile) {
  .housing {
    &__header {
      flex-direction: column;
      margin-top: 0.5rem;
    }
    &__host {
      flex-direction: row;
      align-items: center;
      padding: 1rem 0;
    }
    .host {
      order: 2;
    }
    .rating {
      order: 1;
    }
    &__title {
      font-size: $mobile-large-font-size;
    }
    &__title-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__info {
      gap: 10px;
    }
    &__dropdowns {
      margin: auto;
      display: flex;
      flex-direction: column;
    }
  }
}
