@use "../../styles/variables" as *;

.housing-card {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  width: 340px;
  height: 340px;
  max-height: 340px;
  max-width: 340px;

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }

  &__title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: $light-color;
    font-size: $small-font-size;
    font-weight: $bold-weight;
    z-index: 2;
  }
}

@media (max-width: $mobile) {
  .housing-card {
    width: 335px;
    height: 255px;
  }
}
