$primary-color: #ff6060;
$black-color: #000;
$large-border-radius: 25px;
$default-border-radius: 10px;

$default-weight: 500;
$bold-weight: 700;

$xl-font-size: 48px;
$large-font-size: 36px;
$default-font-size: 24px;
$small-font-size: 18px;
$xs-font-size: 14px;

$mobile-xl-font-size: 24px;
$mobile-large-font-size: 18px;
$mobile-default-font-size: 14px;
$mobile-small-font-size: 12px;
$mobile-xs-font-size: 10px;
