@use "./variables" as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.43;
  font-weight: $default-weight;

  color: $dark-color;
  background-color: $light-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}
