@use "../../styles/variables" as *;

.host {
  display: flex;
  justify-content: flex-end;

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__name {
    color: $primary-color;
    text-align: right;
    font-size: clamp($mobile-small-font-size, 4vw, $small-font-size);
    font-weight: $default-weight;
  }

  &__picture {
    width: clamp(32px, 10vw, 64px);
    height: clamp(32px, 10vw, 64px);
    border-radius: 50%;
  }
}
