@use "../../styles/variables" as *;

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 209px;

  background-color: $dark-color;
  color: $light-color;
  margin-top: auto;
  margin-bottom: 0;

  &__logo {
    width: auto;
    margin: 60px 0 40px 0;
  }

  &__content {
    margin-bottom: 30px;
    font-size: $default-font-size;
    text-align: center;
  }
}

@media (max-width: $mobile) {
  .footer {
    &__logo {
      margin-bottom: 0;
    }
    &__content {
      margin-bottom: 60px;
      font-size: $mobile-small-font-size;
      max-width: 120px;
    }
  }
}
